# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/instance/
backend/*.db
backend/uploads/*
!backend/uploads/resume.pdf

# Node
frontend/node_modules/
frontend/dist/

# Environment files
backend/.env
frontend/.env

# OS files
.DS_Store
